Repository munich-quantum-toolkit/qudits, pull requests merged in 2024-04, with the labels that each got.

#10 🩹 fix circular import
  src/mqt/qudits/compiler/onedit/local_operation_swap/swap_routine.py
  test/python/__init__.py
Labels: fix, python

#17 Test qasm
  MQT_Qudits_Tutorial/MQT slide.pdf
  src/mqt/qudits/quantum_circuit/__init__.py
  src/mqt/qudits/quantum_circuit/circuit.py
  src/mqt/qudits/quantum_circuit/components/__init__.py
  src/mqt/qudits/quantum_circuit/components/classic_register.py
  src/mqt/qudits/quantum_circuit/gate.py
  src/mqt/qudits/quantum_circuit/gates/custom_multi.py
  src/mqt/qudits/quantum_circuit/gates/custom_one.py
  src/mqt/qudits/quantum_circuit/gates/custom_two.py
  src/mqt/qudits/quantum_circuit/gates/perm.py
  src/mqt/qudits/quantum_circuit/qasm.py
  test/python/qudits_circuits/test_circuit.py
  test/python/qudits_circuits/test_qasm.py
Labels: enhancement, python

#18 Test one dit
  src/mqt/qudits/compiler/dit_manager.py
  src/mqt/qudits/compiler/onedit/mapping_un_aware_transpilation/log_local_adaptive_decomp.py
  test/python/compiler/onedit/test_log_local_adaptive_decomp.py
  test/python/compiler/onedit/test_log_local_qr_decomp.py
  test/python/compiler/onedit/test_phy_local_adaptive_decomp.py
  test/python/compiler/onedit/test_phy_local_qr_decomp.py
  test/python/compiler/onedit/test_propagate_virtrz.py
  test/python/compiler/onedit/test_remove_phase_rotations.py
  test/python/compiler/twodit/entangled_qr/test_entangled_qr.py
Labels: enhancement, python

#19 Readme docs
  MQT_Qudits_Tutorial/2dqed.png
  MQT_Qudits_Tutorial/MQT Qudits Tutorial-checkpoint.ipynb
  MQT_Qudits_Tutorial/MQT Qudits Tutorial.ipynb
  MQT_Qudits_Tutorial/foot.png
  README.md
  docs/_static/eu_funded_dark.svg
  docs/_static/eu_funded_light.svg
  docs/_static/foot.png
  docs/_templates/page.html
  docs/publications.md
  docs/refs.bib
  docs/tutorial.md
  mqt-qudits-overview.pdf
  src/mqt/__init__.py
  src/python/bindings.cpp
  test/python/compiler/onedit/test_swap_routine.py
Labels: documentation, fix
